includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - tests/
    excludePaths:
        - database
    level: 5
    tmpDir: storage/larastan
    ignoreErrors:
